:root {
  --zinc50: #fafafa;
  --zinc100: #f4f4f5;
  --zinc200: #e4e4e7;
  --zinc300: #d4d4d8;
  --zinc400: #a1a1aa;
  --zinc500: #71717a;
  --zinc600: #52525b;
  --zinc700: #3f3f46;
  --zinc800: #27272a;
  --zinc900: #18181b;
  --zinc950: #09090b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #09090B;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--zinc400);
}

.container section h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--zinc100);
}

.form-task {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.form-task input[type="text"] {
  background-color: transparent;
  border: 2px solid var(--zinc600);
  outline: none;
  color: var(--zinc300);
}

.form-task input[type="text"]::placeholder {
  color: var(--zinc600);
  font-weight: 500;
  font-size: 0.8rem;
}

#addBtn {
  /* padding: 0.75rem 1rem; */
  background-color: var(--zinc800);
  color: var(--zinc500);
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#addBtn:hover {
  background-color: #84cc16;
  box-shadow: 0 4px 4px rgba(132, 204, 22, 0.5);
  color: var(--zinc800);
}

#taskList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#taskList div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--zinc500);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background-color: var(--zinc900);
  transition: all 0.2s ease;
}

#taskList div:hover {
  background-color: var(--zinc800);
}

#taskList div img {
  cursor: pointer;
}

#taskList div span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--zinc200);
  font-weight: 500;
}


#taskList div button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}


#taskList div button:hover {
  transform: scale(1.2);
}

#taskList div.done {
  border: 2px solid #adff2f;
}


@media (width < 48rem) {
  .container {
    width: 80%;
    max-width: 500px;
  }

  .container section h1 {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .form-task {
    gap: 1rem;
  }

  .form-task input[type="text"] {
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  #addBtn {
    padding: 0.5rem 1rem;
  }

  #taskList {
    gap: 1rem;
  }
}

@media (width >= 64rem) {
  .container {
    width: 100%;
    max-width: 50rem;
  }

  .form-task input[type="text"] {
    border-radius: 0.5rem;
  }

  .form-task input[type="text"], #addBtn {
    padding: 0.75rem 1rem;
  }
}